<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style> 
        body{
            font-family: sans-serif;
            background-color: #f4f4f4;

        }
        h2{
            text-align: center;
        }
        .about_us{
            text-align: center;
            padding: 20px;
            letter-spacing: 1px;
            line-height: 30px;
        }
    </style>
</head>
<body><section class="about_us">
    <h2>About Us</h2>
    <p> welcome to TripZen.Your trusted partner in crafting memorable travel experiences.with years of expertise in tour packages management.we specialze i designing customized itineraries that cater to your unique preferences and interests.whether you're seeking a serene getway.an advanturous journey.or a cultural exploration. we have something special for every traveler</p>
    <p>Our mission is to make travel seamless and enjoyable by handling all the details for you. form accommodations and transportation to guided tours and exclusive activities.we take care of everything so you can focus on creating unfortable memories </p>
    <p>At TripZen. we prid ourselves on our commitment to quality ,transparency,and exceptional customer service.Our dedicated team of travel experts is passionate about exploring the world and sharing their knowledge to ensure every trip exceeds expectatons</p>
    <p>Let us transform your dream vacation into reality.Explore our diverse range of packages and discover the joy of stress_free travel with TripZen</p>
    </section>

    
</body>
</html>